@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dore-sombre: #6e600c;
  --dore: #c7b23b;
  --bleu-roi: #0011ff;
  --dore-clair: rgba(219, 193, 45, 1);
  --black: #223;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 220, 220, 240;
    --background-end-rgb: 230, 240, 250;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.fab {
  position: "absolute";
  bottom: "40px";
  right: "40px";
  width: "90px";
  height: "90px";
  background: "rgba(110, 96, 12, 0.336)";
  transform: scale(1);
  transition: transform ease 0.5s;
}

.layout-container {
  background-image: url("../assets/images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
