.link:hover {
  color: #0011ff;
  transition: all 0.5s ease;
  border-right: #0011ff 1px solid;
  border-left: #0011ff 1px solid;
}

.link {
  color: white;
  transition: all 0.5s ease;
  border: transparent 1px solid;
  height: 32px;
  padding-inline: 12px;
  font-weight: 600;
}
